<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="author" content="nightcrawler">

<link rel="icon" href="/static/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css">


<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.pikachoose.min.js"></script>


<style type="text/css">
body {
    font: 400 12px/1 'Microsoft Yahei';
    font-size: 14px;
    margin: 0;
}

.pikachoose {
    width: 100%;
}

#pikame{
    display:none !important;
}

.pika-stage {
    position: relative; 
}

.content {
    margin-top: 4em;
}

#snooker {
    margin: 0 auto;
    width: 960px;
}

.red {
    color: red;
}

.clearfix {
    border-bottom: 1px dashed #ddd;
    padding: 5px 0;
}

.r_title {
    font-size: 9pt;
    color: #888;
}

.r_content {
    color: #00a;
}
</style>
</head>

<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
           <div class="container">
               <a class="brand" href="/sjtu">交大斯诺克</a>
               <div class="nav-collapse collapse navbar-inverse-collapse">
                   <ul class="nav">
                       <li class="active">
                           <a href="/sjtu">首页</a>
                       </li>
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            比赛
                           <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                               <li><a href="/snooker">第二届斯诺克锦标赛</a></li>
                               <li><a href="/snooker">斯诺克邀请赛</a></li>
                           </ul>
                       </li>
                       <li>
                           <a href="/snooker/players">选手</a>
                       </li>
                       <li>
                           <a href="/snooker/clubs">合作球房</a>
                       </li>
                       <li>
                           <a href="/snooker/about">关于</a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>

<div class="container content">
  <div class="hero-unit">
    <p>
        <strong>官方微博</strong> 
        <a href="http://weibo.com/u/3053022783">http://weibo.com/u/3053022783</a>
    </p>
    <p>
        交大斯诺克活动小组，旨在通过比赛的形式，让大家体验斯诺克比赛的气氛，提高大家的斯诺克水平，并且增进大家的友谊。
    </p>
    <p>
        第一届锦标赛结束后，BBS十大宣传，<a href="https://bbs.sjtu.edu.cn/bbstcon,board,Billiards,reid,1370188928.html">斯诺克爱好者们，你们在哪里？@BBS</a>。
        而后在微博上的帖子，阅读量达到了4.7万，人生第一次阅读量过万的微博啊，好开心，希望我们的斯诺克活动越来越有生机。
    </p>
    <p>
        第二届锦标赛报名宣传贴，<a href="https://bbs.sjtu.edu.cn/bbstcon,board,Billiards,reid,1381507296.html">第二届交大斯诺克锦标赛即将开战 @BBS</a>
  </div>
</div>
</div>

<div class="footer">
    <div class="container">
        <h5>Powered by <a href="http://weibo.com/u/3053022783" target="_black">张卫鹏</a> @2013/05/13, QQ群号:238471573</h5>	
    </div>
</div>


</body>
</html>
